#!/bin/sh

# Java apps
export _JAVA_OPTIONS="-Dsun.java2d.uiScale=2"

# Qt
export QT_QPA_PLATFORMTHEME=qt5ct
export QT_AUTO_SCREEN_SCALE_FACTOR=1
export QT_ENABLE_HIGHDPI_SCALING=1

# Cursor
export XCURSOR_SIZE=32

# Disable screen sleep and DPMS
# DPMS makes VMs will crash
xset s off
xset s noblank
xset -dpms

xrdb -merge ~/.Xresources

# When using startx rename this file to .xinitrc and add the following
#exec i3
